<h1>Edit student</h1>

<%= render 'form' %>

<h3>Add Course</h3>
<%= form_for([@student, @student.courses.build]) do |f| %>
    <p>
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </p>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p><%= f.submit %></p>
<% end %>

<%= link_to 'Back', students_path %>
