<div class="row">
  <div class="col-md-4 col-md-offset-4">
<img class="img-responsive center-block" src="http://www.spsu.edu/marketing/images/SPSU_ICON_RGB.jpg" style="width:150px;height:150px">
<h2>Student Administration Portal</h2>
    </div>
  </div>

<%= link_to 'Add new student', new_student_path %>

<h1>Listing students</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Major</th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.major %></td>
        <td><%= link_to 'Show', student_path(student) %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure you want to remove this student?'} %></td>
      </tr>
  <% end %>
</table>
